.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    border-bottom: 0.2rem solid $color-white;

    &__logo {
        position: absolute;
        left: 3rem;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 9rem 0 9rem;
        &--user {
            display: flex;
            align-items: center;
            &-avatar {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                background: $color-avatar-primary;
                border-radius: 5px;
                color: $color-white;
                font-size: 2.5rem;
                font-weight: bold;
            }
            &-info {
                font-size: 1.5rem;
                margin-left: 1rem;
                color: $color-secondary;
                font-weight: bold;
            }
        }
    }
}