select {
  font-size: 1.5rem !important;
  background-color: $color-primary !important;
  color: $color-white !important;
}
.form-select {
  background-image: url('../../assets/images/arrow-down.svg') !important;
}
