$color-primary: #1BC5BD;
$color-secondary: #005B96;

$color-grey-light: #F3F6F9;
$color-grey-dark: #7E8299;

$color-text-primary: #011F4B;
$color-text-secondary: #7E8299;

$color-avatar-primary: #F6CA65;
