$color-primary: #1BC5BD;
$color-secondary: #005B96;

$color-primary-light: #F1FAFE;

$color-white: #F3F6F9;
$color-black: #000;

$color-text-primary: #011F4B;
$color-text-secondary: #7E8299;

$color-avatar-primary: #F6CA65;

$default-font-size: 1.6rem;