@import "~bootstrap/scss/bootstrap";
@import './styles/abstract/variables';
@import './styles/base/typography';
@import './styles/components/header';
@import './styles/components/footer';
@import './styles/components/sidebar';
@import './styles/layout/dashboard';
@import './styles/components/reports';
@import './styles/components/select';
@import './styles/components/filter';
@import './styles/components/datepicker';
@import './styles/components/button';
@import './styles/components/accordion';
@import './styles/components/chart';
@import './styles/base/utilities';
@import './styles/components/home';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
